@import "./reset.scss";
@import "./variables/global.scss";
@import "./variables/variables.scss";

@import "./theme/light.scss";
@import "./theme/dark.scss";

.app {
	min-height: 100vh;
	overflow: hidden;
}

.main-page {
	height: calc(100vh - var(--height-header));

	display: flex;
}